/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
@namespace mx1 "library://ns.adobe.com/flex/mx" ;

@font-face{
	src:url("font/CustFont.ttf");
	fontFamily:"CustFont";
	advancedAntiAliasing: true;
}

mx1|Text
{
	color: #FFFFFF;
	fontFamily: 中易黑体;
	fontSize: 20;
	advancedAntiAliasing: true;
}