/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
@namespace mx1 "library://ns.adobe.com/flex/mx" ;
/*
@font-face{
	src:url("font/wqy-microhei.ttc");
	fontFamily:"wqy-microhei";
	advancedAntiAliasing: true;
}*/

s|RichText
{
	color: #FFFFFF;
	fontSize: 20;
}
global
{
	font-family: wqy-microhei;
}
@font-face
{
	fontFamily: wqy-microhei;
	src: url("font\wqy-microhei.ttc");
	embedAsCFF: true;
	advancedAntiAliasing: true;
}